# Exclude the .git directory in the current directory
!/.git
# Ignore all .git directories
**/.git
# Ignore all .env files in all directories and subdirectories
**/*.env
# Ignore all personal.md files
personal.md
# Ignore the directory named 9-Project-Assets
9-Project-Assets/

