body {
    margin: 0;
}

.card {
    display: inline flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.card--info {
    display:flex;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    padding:10px;
    width: 250px;
    height: 500px;
    margin: 15px;
}

.card--info>h1 {
    font-size: 1.75rem;
    margin:10px;
}

.card--info:hover {
    background-color: rgba(0, 255, 255, .3);
}

img {
    height: 175px;
    width: 250px;
}

